body {
  margin: 0;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f8ff;
}

* {
  box-sizing: border-box;
}

button {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
